* {
    /*text-align: center;*/
}

header {
    display: flex;
    border: 2px solid black;
    width: 100%;
    flex-direction: column;
    height: 30em;
}

header div h1, header div h3, header h1 {
    margin: auto;
    width: 100%;
    text-align: center;
    border: 3px solid black;
}

body {
    background-color: #655bea;
}

header h3 {
    font-style: italic;
}

nav {
    display: flex;
    height: 30em;
    border: 2px black solid;
    opacity: 0;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    transition: 0.4s;
}

nav.show {
    opacity: 1;
}

section a {
    text-decoration: none;
    color: black;
}

#menu {
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    color: #241b9b;
    margin-top: 50px;
    margin-top: 50px;
    width: 20%;
}
