<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-title-techs">
      <mat-panel-title>
          <mat-icon><i class="fas fa-graduation-cap"></i></mat-icon>
          Technologies
      </mat-panel-title>
      <mat-panel-description>
        About my skills...
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let tech of technologies">
        <h3 mat-line>{{tech.name}}</h3>
        <p mat-line>{{tech.descirption}}</p>
        <mat-icon *ngFor="let icon of tech.icons" mat-list-icon [ngClass]="icon"></mat-icon>
        <mat-progress-bar [value]="tech.level" color="warn"></mat-progress-bar>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>

