<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-title-formation">
      <mat-panel-title>
        <mat-icon><i class="fas fa-graduation-cap"></i></mat-icon>
        Education
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let grade of grades">
        <mat-icon mat-list-icon [ngClass]="grade.icon"></mat-icon>
        <p mat-line>{{grade.description}}</p>
        <p mat-line>{{grade.place}}</p>
        <h3 id='formation-date' mat-line>{{grade.date}}</h3>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
