<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="panel-title-pubs">
      <mat-panel-title>
        <mat-icon><i class="fas fa-flask"></i></mat-icon>
        Scientifical activities
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let pub of publications">
        <mat-icon mat-list-icon class="fas fa-flask"></mat-icon>
        <h3 *ngIf="pub.link" mat-line><a mat-raised-button color="primary" [href]="pub.link">{{pub.name}}</a></h3>
        <h3 *ngIf="!pub.link" mat-line>{{pub.name}}</h3>
        <p mat-line>{{pub.description}}</p>
        <p mat-line>{{pub.authors}}</p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
